<div class="container">
  <app-loader *ngIf="isLoading"></app-loader>

  <div class="empty-todo-msg" *ngIf="!isLoading && todos.length === 0">
    <h2>No ToDo's to show.</h2>
  </div>

  <div *ngIf="!isLoading && todos.length !== 0">
    <mat-grid-list [cols]="gridCol" rowHeight="150px">
      <mat-grid-tile
        *ngFor="let todo of paginatorTodos; index as i"
        class="todos-wrapper"
      >
        <app-todo [todo]="todo"></app-todo>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator
      class="paginator"
      [length]="todos.length"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 100]"
      [showFirstLastButtons]="showFirstLastBtn"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
