.container {
  padding: 32px 64px;
}

.todos-wrapper {
  width: fit-content;
}

.paginator {
  margin-top: 70px;
}

.empty-todo-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
